name: TestSelf
on:
  pull_request:
  workflow_dispatch:
    inputs:
      test:
        type: string
        default: 'hoge'
        required: false
      flag:
        type: boolean
        default: false
        required: false
      text:
        default: "text"
        type: string
        required: false
  workflow_call:
    inputs:
      test:
        type: string
        default: 'hoge'
        required: false
      flag:
        type: boolean
        default: false
        required: false
      text:
        type: string
        required: false
      only:
        type: string
        default: "call_only"
        required: false

permissions:
  contents: read
  pull-requests: read

jobs:
  test-action:
    runs-on: ubuntu-latest
    env:
      EXPECT_TEST: 'hoge'
      EXPECT_FLAG: 'false'
      EXPECT_TEXT: 'text'
      EXPECT_ONLY: 'call_only'
    steps:
      - name: $github
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "${GITHUB_CONTEXT}"
      - name: GITHUB_EVENT_PATH
        run: |
          cat "${GITHUB_EVENT_PATH}"
      - name: job api response
        run: |
          gh api "repos/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}/attempts/${GITHUB_RUN_ATTEMPT}/jobs" | jq
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./
        id: inputs-test
        with:
          name: test
      - name: Test test
        env:
          ACTUAL: ${{ steps.inputs-test.outputs.value }}
        run: |
          test "${ACTUAL}" == "${EXPECT_TEST}"
      - uses: ./
        id: inputs-test-workflow_call
        with:
          name: test
          prioritize-event: workflow_call
      - name: Test test
        env:
          ACTUAL: ${{ steps.inputs-test-workflow_call.outputs.value }}
        run: |
          test -z "${ACTUAL}"
      - uses: ./
        id: inputs-flag
        with:
          name: flag
      - name: Test flag
        env:
          ACTUAL: ${{ steps.inputs-flag.outputs.value }}
        run: |
          test "${ACTUAL}" == "${EXPECT_FLAG}"
      - uses: ./
        id: inputs-all
      - name: Test All outputs keys
        env:
          ACTUAL_TEST: ${{ steps.inputs-all.outputs.test }}
          ACTUAL_FLAG: ${{ steps.inputs-all.outputs.flag }}
          ACTUAL_TEXT: ${{ steps.inputs-all.outputs.text }}
          ACTUAL_ONLY: ${{ steps.inputs-all.outputs.only }}
        run: |
          test "${ACTUAL_TEST}" == "${EXPECT_TEST}"
          test "${ACTUAL_FLAG}" == "${EXPECT_FLAG}"
          test "${ACTUAL_TEXT}" == "${EXPECT_TEXT}"
          test "${ACTUAL_ONLY}" == "${EXPECT_ONLY}"
      - name: Test fromJson
        env:
          ACTUAL_TEST: ${{ fromJson(steps.inputs-all.outputs.value).test }}
          ACTUAL_FLAG: ${{ fromJson(steps.inputs-all.outputs.value).flag }}
          ACTUAL_TEXT: ${{ fromJson(steps.inputs-all.outputs.value).text }}
          ACTUAL_ONLY: ${{ fromJson(steps.inputs-all.outputs.value).only }}
        run: |
          test "${ACTUAL_TEST}" == "${EXPECT_TEST}"
          test "${ACTUAL_FLAG}" == "${EXPECT_FLAG}"
          test "${ACTUAL_TEXT}" == "${EXPECT_TEXT}"
          test "${ACTUAL_ONLY}" == "${EXPECT_ONLY}"
