name: TestSelf
on:
  pull_request:
  workflow_dispatch:
    inputs:
      test:
        type: string
        default: 'hoge'
        required: false
      flag:
        type: boolean
        default: false
        required: false
      text:
        default: "text"
        type: string
        required: false
  workflow_call:
    inputs:
      test:
        type: string
        default: 'hoge'
        required: false
      flag:
        type: boolean
        default: false
        required: false
      text:
        type: string
        required: false
      only:
        type: string
        default: "call_only"
        required: false

permissions:
  contents: read
  pull-requests: read

env:
  EXPECT_TEST: ${{ inputs.test || 'hoge' }}
  EXPECT_FLAG: ${{ inputs.flag || 'false' }}
  EXPECT_TEXT: ${{ inputs.text || 'text' }}
  EXPECT_ONLY: ${{ inputs.only || 'call_only' }}
jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - name: $github
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "${GITHUB_CONTEXT}"
      - name: GITHUB_EVENT_PATH
        run: |
          cat "${GITHUB_EVENT_PATH}"
      - name: job api response
        run: |
          gh api repos/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}/attempts/${GITHUB_RUN_ATTEMPT}/jobs | jq
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./
        id: inputs-test
        with:
          name: test
      - name: Test test
        env:
          ACTUAL: ${{ inputs.test || steps.inputs-test.outputs.value }}
        run: |
          test "${ACTUAL}" == "${EXPECT_TEST}"
      - uses: ./
        id: inputs-flag
        with:
          name: flag
      - name: Test flag
        env:
          ACTUAL: ${{ inputs.flag || steps.inputs-flag.outputs.value }}
        run: |
          test "${ACTUAL}" == "${EXPECT_FLAG}"
      - uses: ./
        id: inputs-all
      - name: Test All outputs keys
        env:
          ACTUAL_TEST: ${{ inputs.test || steps.inputs-all.outputs.test }}
          ACTUAL_FLAG: ${{ inputs.flag || steps.inputs-all.outputs.flag }}
          ACTUAL_TEXT: ${{ inputs.text || steps.inputs-all.outputs.text }}
          ACTUAL_ONLY: ${{ inputs.only || steps.inputs-all.outputs.only }}
        run: |
          test "${ACTUAL_TEST}" == "${EXPECT_TEST}"
          test "${ACTUAL_FLAG}" == "${EXPECT_FLAG}"
          test "${ACTUAL_TEXT}" == "${EXPECT_TEXT}"
          # test "${ACTUAL_ONLY}" == "${EXPECT_ONLY}"
      - name: Test fromJson
        env:
          ACTUAL_TEST: ${{ inputs.test || fromJson(steps.inputs-all.outputs.value).test }}
          ACTUAL_FLAG: ${{ inputs.flag || fromJson(steps.inputs-all.outputs.value).flag }}
          ACTUAL_TEXT: ${{ inputs.text || fromJson(steps.inputs-all.outputs.value).text }}
          ACTUAL_ONLY: ${{ inputs.only || fromJson(steps.inputs-all.outputs.value).only }}
        run: |
          test "${ACTUAL_TEST}" == "${EXPECT_TEST}"
          test "${ACTUAL_FLAG}" == "${EXPECT_FLAG}"
          test "${ACTUAL_TEXT}" == "${EXPECT_TEXT}"
          # test "${ACTUAL_ONLY}" == "${EXPECT_ONLY}"
